
body{
    display: flex;
    justify-content: center;
    align-items: center;

}

.main {
    background-color: rgba(218, 218, 218, 0.884);
    border-radius: 10px;
    margin: 50px 0 50px;
    width: 800px;
    
}
#title {
    font-family:sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

figure {

}

#tribute-info{
    background-color: red;
    position: relative;
    margin: 20px;
}

li {
    position: relative;
    padding: 10px;
}

#quote{

}

#tribute-link{

}